<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>計算清單</title>
    </head>
    <body>
         <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>valueA</th>
                    <th>valueB</th>
                    <th>Result</th>
                </tr>

            </thead>
            {% for i in data %}
                {% if i.id|divisibleby:2 %}
                {% else %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.a }}</td>
                        <td>{{ i.b }}</td>
                        <td>{{ i.result }}</td>
                    </tr>
                {% endif %}    
            {% endfor %}

            <form action="del" method="POST">
                {% csrf_token %}
                <input type="submit" value="刪除資料庫">
            </form>
         </table>
    </body>
</html>
